{
  "overrides": [
    {
      "env": {
        "es2020": true
      },
      "files": "**/*.js",
      "extends": ["eslint-config-airbnb-base"],
      "plugins": ["prettier"],
      "rules": {
        "prettier/prettier": "error"
      }
    },
    {
      "env": {
        "es2020": true
      },
      "files": "**/*.ts",
      "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "prettier"],
      "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/no-unused-vars": 2,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-unsafe-declaration-merging": 0,
        "@typescript-eslint/ban-ts-comment": 1
      }
    }
  ]
}
