{
  "overrides": [
    {
      "env": {
        "es2020": true
      },
      "files": "**/*.js",
      "extends": ["prettier", "eslint-config-airbnb-base"]
    },
    {
      "env": {
        "es2020": true
      },
      "files": "**/*.ts",
      "extends": ["prettier", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "@typescript-eslint/no-unused-vars": 2,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/ban-ts-comment": 1
      }
    }
  ]
}
